In [37]:
import pandas as pd
data=pd.read_csv("gps.csv")
#Preprocessing data
data.columns = ['Latitude', 'Longitude', 'Speed', 'Altitude', 'TimeStamp', 'stop/busy']
data.drop(['stop/busy'], axis=1, inplace=True)
data['Date']=pd.to_datetime(data['TimeStamp']).dt.date
data['Time']=pd.to_datetime(data['TimeStamp']).dt.time
data.drop(['TimeStamp'], axis=1, inplace=True)

def Daytime(Time):
    hr=int(Time.hour)
    if hr<9:
        return 'early morning'
    elif 9<=hr<12:
        return 'morning'
    elif 12<=hr<17:
        return 'afternoon'
    elif 17<=hr:
        return 'evening'
    
data['Daytime']=data.Time.apply(Daytime)
data1=data
data1

df=pd.read_csv("processed_Bus_SOUND_2019_09_23_18_05_19_187_0.txt", sep=',')
df.to_csv("sound.csv")
data2=pd.read_csv("sound.csv")
data2.columns = ['lindex', 'Date', 'Time', 'Intensity']
data1

       Latitude  Longitude  Speed  Altitude        Date      Time  Daytime
0     23.494791  87.316918   0.00      29.0  2019-09-23  18:05:25  evening
1     23.494340  87.317220   0.76       2.0  2019-09-23  18:05:26  evening
2     23.494400  87.317167   0.00       9.0  2019-09-23  18:05:29  evening
3     23.494373  87.317147   0.00      12.0  2019-09-23  18:05:29  evening
4     23.494368  87.317128   0.00      13.0  2019-09-23  18:05:30  evening
...         ...        ...    ...       ...         ...       ...      ...
1914  23.563955  87.283795   0.47      51.0  2019-09-23  18:45:44  evening
1915  23.563956  87.283789   0.51      51.0  2019-09-23  18:45:44  evening
1916  23.563956  87.283782   0.37      52.0  2019-09-23  18:45:45  evening
1917  23.563956  87.283775   0.00      51.0  2019-09-23  18:45:46  evening
1918  23.563959  87.283774   0.00      50.0  2019-09-23  18:45:47  evening

[1919 rows x 7 columns]

In [16]:
data2

      lindex        Date      Time  Intensity
0          0  09/23/2019  18:05:21  48.101204
1          1  09/23/2019  18:05:22  48.415711
2          2  09/23/2019  18:05:23  71.898471
3          3  09/23/2019  18:05:24  53.136387
4          4  09/23/2019  18:05:25  52.370999
...      ...         ...       ...        ...
2417    2417  09/23/2019  18:45:38  55.018062
2418    2418  09/23/2019  18:45:39  60.346977
2419    2419  09/23/2019  18:45:40  59.172488
2420    2420  09/23/2019  18:45:41  55.782209
2421    2421  09/23/2019  18:45:42  60.825925

[2422 rows x 4 columns]

In [38]:
data1['Time']=data1['Time'].astype(str)
data2['Time']=data2['Time'].astype(str)
data1=data1.merge(data2, on='Time',how="left")
data1
a1 = data1[(data1['Intensity'] >= 65)].reset_index()
a1

,index,Latitude,Longitude,Speed,Altitude,Date_x,Time,Daytime,lindex,Date_y,Intensity
0,58,23.494337,87.317214,0.00,21.0,2019-09-23,18:06:24,evening,63.0,09/23/2019,65.677205
1,63,23.493146,87.316337,1.33,16.0,2019-09-23,18:09:36,evening,255.0,09/23/2019,67.947402
2,64,23.493165,87.316369,0.63,6.0,2019-09-23,18:09:37,evening,256.0,09/23/2019,66.060038
3,67,23.493209,87.316405,0.00,11.0,2019-09-23,18:09:40,evening,259.0,09/23/2019,81.573374
4,68,23.493211,87.316408,0.00,16.0,2019-09-23,18:09:41,evening,260.0,09/23/2019,95.217623
...,...,...,...,...,...,...,...,...,...,...,...
364,1897,23.563919,87.283817,0.52,50.0,2019-09-23,18:45:26,evening,2405.0,09/23/2019,68.748468
365,1898,23.563923,87.283814,0.52,50.0,2019-09-23,18:45:27,evening,2406.0,09/23/2019,71.780704
366,1899,23.563927,87.283811,0.37,52.0,2019-09-23,18:45:28,evening,2407.0,09/23/2019,74.279137
367,1901,23.563933,87.283809,0.19,52.0,2019-09-23,18:45:30,evening,2409.0,09/23/2019,65.227597
368,1904,23.563941,87.283807,0.00,53.0,2019-09-23,18:45:33,evening,2412.0,09/23/2019,70.225392